.clients {
    padding: 120px 2rem;
    text-align: center;
}

.clients h1 {
    text-transform: uppercase;
    margin: 0 0 5rem;
    color: var(--grayish-blue);
    font-weight: var(--font-700);
    font-family: var(--font-family-fraunces);
    font-size: 24px;
    letter-spacing: 4px;
    font-weight: 900;
}

.clients-opinions {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33fr 33fr 33fr;
    grid-gap: 2rem;
}

.clients-opinions img {
    border-radius: 100%;
    width: 76px;
    margin-bottom: 40px;
}

.clients-opinions-description {
    display: block;
    font-style: normal;
    font-size: 14px;
    color: var(--very-dark-grayish-blue);
    margin-bottom: 4rem;
    line-height: 22px;
}

.clients-opinions-name-position span {
    display: block;
    font-family: var(--font-family-fraunces);
    font-size: 20px;
    font-weight: var(--font-900);
}
.clients-opinions-name-position sub {
    font-size: 14px;
    margin-top: 12px;
    display: block;
    color: var(--grayish-blue);
}
@media (max-width: 768px) {
    .clients-opinions {
        grid-template-columns: 100fr;
    }
    .clients {
        padding: 4rem 0;
    }
    .clients h1 {
        font-size: 16px;
        margin: 0 0 60px;
    }
    .clients-opinions img {
        margin-bottom: 1.5rem;
    }
    .clients-opinions-description {
        font-size: 18px;
        line-height: 30px;
        padding: 0 1rem;
        margin-bottom: 2rem;
    }
}