.footer {
    text-align: center;
    background-color: var(--bg-green-footer);
    height: 250px;
    position: relative;
    padding: 3rem 0;
}

.footer-content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 200px;
}
.footer-content > * {
    flex: 1 0 100%;
}

.footer-logo {
    margin-bottom: 1.5rem;
}

.footer-buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 3rem;
}

.footer-buttons a {
    color: var(--dark-desatured);
}

.footer-buttons a:hover {
    color: var(--white);
}

.footer-social-media {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 100px;
}

.footer-social-media img {
    cursor: pointer;
    width: 14px;
}
.footer-social-media img:hover {
    filter: brightness(1000%);
}