.header {
    background-image: var(--background-header);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2rem;
    height: 560px;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

.header h1 {
    text-align: center;
    font-family: var(--font-family-fraunces);
    font-size: 32px;
    letter-spacing: 5px;
    color: var(--white);
    margin-top: 84px;
}

.header h1 img {
    display: block;
    margin: 3rem auto;
    width: 34px;
}

.header-buttons {
    display: flex;
    flex: 0 0 350px;
    justify-content: space-between;
    height: max-content;
}

.header-buttons a {
    color: var(--white);
}

.header-buttons a.contact {
    text-align: center;
    border-radius: 12px;
    background-color: #6fcfff;
    text-transform: uppercase;
    font-family: var(--font-family-fraunces);
    width: 88px;
    box-shadow: 0px 0px 0px 16px #6fcfff;
}

.header-buttons a.contact:hover {
    background-color: var(--white);
    color: var(--text-color-green);
    box-shadow: 0px 0px 0px 16px var(--white);
}

@media (max-width: 768px) {
    .header {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .header h1 {
        font-size: 40px;
    }
}