.menu-hamburger {
    display: var(--menu-hamburger-display);
}

ul {
    display: none;
}

input:checked~ul {
    display: block;
}

input {
    display: none;
}

label {
    width: 28px;
    cursor: pointer;
}

ul {
    position: absolute;
    left: 16px;
    right: 16px;
    text-align: center;
    margin-top: 32px;
    background-color: var(--white);
    padding: 32px 0 16px;
}


li {
    display: block;
    margin-bottom: 32px;
}

li.arrow-hamburger {
    position: absolute;
    top: -18px;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 25px solid var(--white);
    border-left: 25px solid transparent;
}

li a {
    font-size: 18px;
    color: var(--dark-grayish-blue);
}

li a.contact {
    border-radius: 12px;
    background-color: var(--yellow);
    text-transform: uppercase;
    font-family: var(--font-family-fraunces);
    box-shadow: 0px 0px 0px 16px var(--yellow);
    font-size: 16px;
    color: var(--text-color-green);
    width: 106px;
    display: inline-block;
    margin-top: 16px;
}
